.banner {
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
  &_container {
    position: relative;
    width: 800px;
    margin: auto;
    @media (max-width: 967px) {
      width: 90%;
    }
  }
}
