.todo {
  width: 100%;
  position: relative;
  padding: 0px 20px;
  border-bottom: solid 1px rgb(221, 221, 221);
  display: flex;
  align-items: center;
  background: white;
  cursor: pointer;
  font-size: 24px;
  color: #333;

  p {
    position: relative;
    word-wrap: break-word;
    padding: 20px 0;
    display: block;
    width: 80%;
    @media (max-width: 967px) {
      font-size: 18px;
      padding: 20px 0;
    }
  }
}

.todo:hover .deleteBtn {
  opacity: 1;
}

.todo:hover .checkbox {
  border: solid hsl(280, 87%, 65%) 1px;
}

.todo:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.checkbox {
  border: solid silver 1px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 300ms ease-in-out;
}
.checked {
  border: 0;
  background: linear-gradient(var(--CheckBackground));
}

.deleteBtn {
  position: absolute;
  z-index: 10;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  right: 0px;
  padding: 20px;
  transition: opacity 300ms ease-in-out;
  @media (max-width: 967px) {
    opacity: 1;
  }
}

.todo.darkmode {
  background: var(--VeryDarkDesaturatedBlue);
  color: var(--LightGrayishBlue);
  border-bottom: solid 1px var(--VeryDarkGrayishBlue);
}
